<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!--Navigation-->
    <div class="nav-container">
        <nav>
            <img src="#" alt="LOGO">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Subscriptions</a></li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><a href="#">Library</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Your videos</a></li>
                <li><a href="#">Watch later</a></li>
                <li><a href="#">Liked videos</a></li>
                <!--show more pop up-->
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><a href="#">Microverse</a></li>
                <li><a href="#">Odin</a></li>
                <li><a href="#">FreeCodeCamp</a></li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><a href="#">Gaming</a></li>
                <li><a href="#">Live</a></li>
                <li><a href="#">Sports</a></li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Report</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Send feedback</a></li>
            </ul>
        </nav><hr>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">Creators</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">Developers</a></li>
        </ul>

        <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Policy & Safety</a></li>
            <li><a href="#">How YouTube works</a></li>
            <li><a href="#">Test new features</a></li>
        </ul>
    </div>

    <!--horizontal navbar-->
    <div class="main-nav">
        <div class="logo">
            <img src="#" alt="LOGO">
            <input type="text" placeholder="Search">
        </div>
    </div>
</body>
</html>