<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="i-frame">
            <div> <iframe width="750" height="363" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe></div>
            <div class="main-content">
                <h3>Mind Character and Personality vol 1</h3>
            </div>
            <div class="fa-icons">
                <ul class="icons">
                    <li><a href="#" class="left">Views Date</a></li>
                    <li><a href="#" class="right" ><i class="fas fa-share"></i>Share</a></li>
                    <li><a href="#" class="right"><i class="fa-solid fa-thumbs-up"></i>Like</a></li>
                    <li><a href="#" class="right"><i class="fa-solid fa-thumbs-down"></i>Dislike</a></li>
                    <li><a href="#" class="right"><i class="fa-solid fa-scissors"></i>Clip</a></li>
                    <li><a href="#" class="right">+Save</a></li>
                </ul>
            </div>
            <hr>
            <div class="channel">
                <div class="logo">
                    <img src="/static/logo.png" alt="Add poster" height="70px" width="200px">
                    <h3>EGW Audio books</h3>
                    <h4>70M Subscribers</h4>
                </div>
                <div class="subscribe-btn">
                    <button>SUBSCRIBE</button>
                </div>
               
            </div>
            <hr>
        </div>
        <div class="i-thumbnails">
            <div class="thumbnails">
                <div class="one">
                    <iframe width="250" height="100" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe>
                    <ul>
                        <li>Title</li>
                        <li>Channel</li>
                        <li>Views days ago</li>
                    </ul>
                </div>
                <div class="one">
                    <iframe width="250" height="100" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe>
                    <ul>
                        <li>Title</li>
                        <li>Channel</li>
                        <li>Views days ago</li>
                    </ul>
                </div>
                <div class="one">
                    <iframe width="250" height="100" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe>
                    <ul>
                        <li>Title</li>
                        <li>Channel</li>
                        <li>Views days ago</li>
                    </ul>
                </div>
                <div class="one">
                    <iframe width="250" height="100" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe>
                    <ul>
                        <li>Title</li>
                        <li>Channel</li>
                        <li>View days ago</li>
                    </ul>
                </div>
                <div class="one">
                    <iframe width="250" height="100" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe>
                    <ul>
                        <li>Title</li>
                        <li>Channel</li>
                        <li>Views days ago</li>
                    </ul>
                </div>
                <div class="one">
                    <iframe width="250" height="100" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe>
                    <ul>
                        <li>Title</li>
                        <li>Channel</li>
                        <li>Views days ago</li>
                    </ul>
                </div>
                <div class="one">
                    <iframe width="250" height="100" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe>
                    <ul>
                        <li>Title</li>
                        <li>Channel</li>
                        <li>Views days ago</li>
                    </ul>
                </div>
                <div class="one">
                    <iframe width="250" height="100" src="https://www.youtube.com/embed/14PYPcNlyFU?list=PLfeyWTynh5i9xtr78r1Bs7rIYe1gNhvR5"></iframe>
                    <ul>
                        <li>Title</li>
                        <li>Channel</li>
                        <li>Views days ago</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>